@import "tailwindcss";

:root {
  font-family: var(--font-Inter), sans-serif;
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-Inter);
  --font-mono: var(--font-Inter);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-Inter), sans-serif;
}
